<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Justin's Irish Tap Room</h1>
  </div>
<h1>Menu for {{month}}/{{day}}/{{year}}</h1>

<h3>{{currentFocus}}</h3>
<ul>
 <li [class]="levelColor(currentKeg)" *ngFor="let currentKeg of kegs">
   <h4>{{currentKeg.name}}</h4><br>
   <strong>Brand:</strong> {{currentKeg.brand}}<br>
   <strong>Alcohol Content:</strong> {{currentKeg.alcoholContent}}<br>
   <strong>Price:</strong> {{currentKeg.price}}<br>
   <strong>Pints Left:</strong> {{currentKeg.pintCount}}<br>
   <button class="btn" (click)="editKeg(currentKeg)">Edit</button><br>
   <button class="btn" (click)="currentKeg.orderPint()">Order</button>
 </li>
</ul>

<div *ngIf="selectedKeg">
<h3>{{selectedKeg.name}}</h3>
<p>Keg Complete? {{selectedKeg.done}}</p>
<h3>Edit Keg</h3>
<label>Enter Keg Description:</label>
<input [(ngModel)]="selectedKeg.name"><br>
<label>Enter Keg Priority (1-3):</label>
<br>
<input type="radio" [(ngModel)]="selectedKeg.level" [value]="1">1 (Low Priority)<br>
<input type="radio" [(ngModel)]="selectedKeg.level" [value]="2">2 (Medium Priority)<br>
<input type="radio" [(ngModel)]="selectedKeg.level" [value]="3">3 (High Priority)<br>
<button (click)="finishedEditing()">Done</button>
</div>
<app-add-keg (sendKeg)="addKeg($event)"></app-add-keg>



</div>
